*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(imagens/fundo.png);
    color: white;
    padding: 75px;
}


.logo {
    width: 300px;
}

.logo img {

    max-width: 100%;
    height: auto;
    display: block;
}

.menu a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    border-style: groove;
    border-width: 1px;
    color: white;
}

.menu a:hover,
    a[aria-current="page"]{
        text-decoration: underline;
        text-decoration-color: rgb(105, 122, 133);
        text-decoration-thickness: 5px;

    }

    h1{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 20px 0 0 0;
        margin: 0;
    }

    main{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .produtos{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 20px 40px 20px;
    }

    .box{
        text-align: center;
        align-items: center;
        align-content: center;
        background-color: #8c8c8c;
        padding: 30px;
        margin: 10px;
        width: 20%;
        box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
        border-radius: 80px;

    }

    .footer{
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #333;
        color: white;
        text-align: center;
        padding: 20px;
        margin: 10px 0 0 0;
    }

    .box h2{
        color: #333;
        font-size: 24px;

    }

    .box img{
        width: 250px;
        padding: 20px 0;

    }

    .box p{
        font-size: 14px;
        padding-bottom: 20px;
    }

    .box a{
        text-decoration: none;
        background-color: white;
        padding: 5px 15px;
        color:black;
        border-radius: 20px;
        font-size: 14px;
    }

    @media (max-width: 768px) {

        .main {
            flex-direction: column;
            align-items: center;
        }

        .box {
            width: 80%;
            margin-bottom: 20px;
        }

        .menu {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .menu a {
        
            margin: 5px 0;

        }

        h1 {
            text-size-adjust: 70%;

        }

        .logo {
            width: 60px;
        }
        }
    


